extends ../layout.pug

block content
  h2= t('form.signUp')
  form(action='/users' method='post' novalidate)
    .mb-3
      label.form-label(for='data_firstName') Nombre
      if errors && errors.firstName
        input.form-control.is-invalid(type='text' id='data_firstName' name='data[firstName]' value=values && values.firstName || '')
        .invalid-feedback= errors.firstName
      else
        input.form-control(type='text' id='data_firstName' name='data[firstName]' value=values && values.firstName || '' required minlength='1')
    .mb-3
      label.form-label(for='data_lastName') Apellido
      if errors && errors.lastName
        input.form-control.is-invalid(type='text' id='data_lastName' name='data[lastName]' value=values && values.lastName || '')
        .invalid-feedback= errors.lastName
      else
        input.form-control(type='text' id='data_lastName' name='data[lastName]' value=values && values.lastName || '' required minlength='1')
    .mb-3
      label.form-label(for='data_email')= t('form.email')
      if errors && errors.email
        input.form-control.is-invalid(type='email' id='data_email' name='data[email]' value=values && values.email || '')
        .invalid-feedback= errors.email
      else
        input.form-control(type='email' id='data_email' name='data[email]' value=values && values.email || '' required)
    .mb-3
      label.form-label(for='data_password')= t('form.password')
      if errors && errors.password
        input.form-control.is-invalid(type='password' id='data_password' name='data[password]')
        .invalid-feedback= errors.password
      else
        input.form-control(type='password' id='data_password' name='data[password]' required minlength='3')
    if errors && errors.general
      .alert.alert-danger= errors.general
    button.btn.btn-primary(type='submit')= t('form.save')
